#cardView {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

#cardView button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: red;
}
 